@tailwind base;
@tailwind components;
@tailwind utilities;

/* 168 55% 75% greenish */
/* 166 65% 83% lighter greenish  */
/* 159 58% 87% lightest greenish  */
/* 160 93% 84% */
/* 0 0% 76% light grey */
/* 251 7% 50% dark grey */
/* 51 7% 15% blackish  */

@layer base {
  :root {
    --background: 210 2% 95%;
    --foreground: 210 2% 0%;
    --card: 210 2% 90%;
    --card-foreground: 210 2% 10%;
    --popover: 210 2% 95%;
    --popover-foreground: 210 95% 0%;
    --primary: 210 80% 26%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 172 10% 85%;
    --muted-foreground: 210 2% 35%;
    --accent: 172 10% 80%;
    --accent-foreground: 210 2% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 210 2% 90%;
    --border: 210 20% 50%;
    --input: 210 20% 18%;
    --ring: 210 80% 26%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 10% 5%;
    --foreground: 210 2% 90%;
    --card: 210 2% 0%;
    --card-foreground: 210 2% 90%;
    --popover: 210 10% 5%;
    --popover-foreground: 210 2% 90%;
    --primary: 210 80% 26%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 172 10% 15%;
    --muted-foreground: 210 2% 60%;
    --accent: 172 10% 15%;
    --accent-foreground: 210 2% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 210 2% 90%;
    --border: 210 20% 18%;
    --input: 210 20% 18%;
    --ring: 210 80% 26%;
    --radius: 0.5rem;
  }

  /* body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  } */
}
