@tailwind base;
@tailwind components;
@tailwind utilities;

/* 168 55% 75% greenish */
/* 166 65% 83% lighter greenish  */
/* 159 58% 87% lightest greenish  */
/* 0 0% 76% light grey */
/* 251 7% 50% dark grey */
/* 51 7% 15% blackish  */

@layer base {
  :root {
    --background: 212 100% 95%;
    --foreground: 212 5% 0%;
    --card: 0 0% 95%;
    /* --card: 159 58% 87%; */
    --card-foreground: 212 5% 10%;
    --popover: 212 100% 95%;
    --popover-foreground: 212 100% 0%;
    /* buttons */
    /* --primary: 212 85% 53%; */
    --primary: 51 7% 15%;
    /* --primary: 168 55% 75%; */
    /* --primary-foreground: 0 0% 100%; */
    --primary-foreground: 0 100% 100%;
    --secondary: 251 7% 50%;
    --secondary-foreground: 0 0% 0%;
    /* gray */
    --secondary-background: 251 7% 50%;
    /* --muted: 174 30% 85%; */
    --muted: 159 58% 87%;
    --muted-foreground: 212 5% 35%;
    --accent: 174 30% 80%;
    --accent-foreground: 212 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 212 5% 90%;
    --border: 212 30% 50%;
    --input: 212 30% 18%;
    --ring: 212 85% 53%;
    --radius: 0.5rem;
    --subheader: 51 7% 15%;
    --link: 212 85% 53%;
  }
  .dark {
    --background: 212 50% 5%;
    --foreground: 212 5% 90%;
    --card: 212 50% 0%;
    --card-foreground: 212 5% 90%;
    --popover: 212 50% 5%;
    --popover-foreground: 212 5% 90%;
    --primary: 212 85% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 174 30% 15%;
    --muted-foreground: 212 5% 60%;
    --accent: 174 30% 15%;
    --accent-foreground: 212 5% 90%;
    /* --destructive: 0 100% 30%; */
    --destructive: 0 50% 50%;
    --destructive-foreground: 212 5% 90%;
    --border: 212 30% 18%;
    --input: 212 30% 18%;
    --ring: 212 85% 53%;
    --radius: 0.5rem;
    --link: 212 85% 53%;
  }

  /* body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  } */
}
